div.title-info
  margin-top: 2em;
  display: table
div.title-info div
  display: table-cell
  vertical-align: middle

  &:first-child
    max-width: 12vw

div.title-info p
  margin: 0 0 .2em 1.5em
div.title-info img
  max-width: 12vw

table td {
    padding: 1vw;
}